Rough.py

# Will add problems I did from https://leetcode.com/problemset/all/?listId=wpwgkgt in the end:
14) Additional (From LeetCode List - Top Interview Questions)

# Will do problems with "Hard" difficulty in the end:
01) Arrays/018) Reverse Pairs.py
02) Linked List/033) Reverse Nodes in k-Group.py
